@import 'app_colors.css';

.always-on-top-icon {
	-fx-opacity: 0.5;
}

.always-on-top-icon:hover {
    -fx-cursor: hand;
	-fx-opacity: 1.0;
}

.always-on-top-icon:always-on-top {
	-fx-opacity: 1.0;
}

.background {
    -fx-fill: #303030;
    -fx-arc-height: 30px;
    -fx-arc-width: 30px;
    -fx-effect: dropShadow(three-pass-box, #000000, 5, 0, 0, 0);
}

.holder {
    -fx-fill: #202020;
    -fx-effect: dropShadow(three-pass-box, #000000, 10, 0, 0, 0);
}

.holder:hover {
    -fx-cursor: move;
}

.tab {
    -fx-cursor: move;
}

.trans_anchor {
    -fx-background-color: transparent;
}