@import 'app_colors.css';

.always-on-top-icon {
	-fx-opacity: 0.5;
}

.always-on-top-icon:hover {
    -fx-cursor: hand;
	-fx-opacity: 1.0;
}

.always-on-top-icon:always-on-top {
	-fx-opacity: 1.0;
}

.background {
    -fx-fill: #E3E3E3;
    -fx-arc-height: 30px;
    -fx-arc-width: 30px;
    -fx-effect: dropShadow(three-pass-box, #000000, 5, 0, 0, 0);
}

.texts {
    -fx-fill: #43444A;
}

.holder {
    -fx-fill: #43444A;
    -fx-effect: dropShadow(three-pass-box, #23242A, 10, 0, 0, 0);
}

#ctrl-box {
    -fx-stroke: #43444A;
}

.holder:hover {
    -fx-cursor: move;
}

.tab {
    -fx-cursor: move;
}

.trans_anchor {
    -fx-background-color: transparent;
}

#schedChoices {
    -fx-border-color: transparent;
    -fx-border-radius: 30;
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-text-fill: #43444A;
    -fx-padding: 3 3 3 6;
    -fx-background-insets: 4 0 0 -3;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: white;
    -fx-text-box-border: white;
}

.mfx-combo-box {
	-fx-min-height: 35;
}


#schedChoices .floating-text {
    -fx-background-color: transparent;
    -fx-text-fill: #43444A;
}

#schedChoices .caret .mfx-font-icon {
    -mfx-color: #43444A;
}

#schedChoices .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(67, 68, 74, 1);
}

#schedChoices .virtual-flow {
    -track-color: derive(#43444A, 90%);
    -thumb-color: derive(#43444A, 50%);
    -thumb-hover-color: derive(#43444A, 25%);
}

#schedChoices .virtual-flow .mfx-combo-box-cell:hover {
    -fx-background-color: derive(#43444A, 30%);
}

.chart {
    -fx-background-color: #43444A;
    -fx-text-fill: #CCDBE0;
}

.axis-label {
    -fx-text-fill: #CCDBE0;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.chart .chart-legend {
    -fx-background-color: transparent; /* Background color */
    -fx-padding: 0; /* Padding */
}

.axis {
    -fx-tick-label-fill: #EDF0F7;
    -fx-tick-length: 1;
    -fx-minor-tick-length: 1;
}


.chart .chart-legend-item {
    -fx-font-size: 12px; /* Font size */
    -fx-text-fill: #EDF0F7; /* Text color */
}

.btn {
    -fx-max-width: 200px;
    -fx-background-radius: 20;
    -fx-border-radius: 60;
    -fx-background-color: #CCDBE0;
    -fx-border-color: white;
    -fx-border-width: 10px;
    -fx-text-box-border: transparent;
    -fx-padding: 1 3 1 3;
    -fx-faint-focus-color: transparent;
}


.rounded-text-field {
    -fx-max-width: 200px;
    -fx-background-radius: 20;
    -fx-border-radius: 50;
    -fx-background-color: white;
    -fx-border-color: #E3E3E3;
    -fx-border-width: 10px;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
    -fx-focus-color: #43444A;
    -fx-faint-focus-color: transparent;
}


/* Customizing the MFXTableView */
.mfx-table-view {
    -fx-background-color: #43444A; /* Background color */
    -fx-text-fill: white;
}

/* Customizing the table cell */
.mfx-table-cell {
    -fx-background-color: derive(#43444A, 50%); /* Cell background color */
}

/* Customizing the header */
.mfx-table-header {
    -fx-background-color: #23242A; /* Header background color */
    -fx-text-fill: white; /* Header text color */
}


.mfx-table-row {
    -fx-background-color: derive(#43444A, 25%); /* Background color for even rows */
    -fx-text-fill: white;
}

.mfx-table-row .mfx-table-row-cell {
    -fx-text-fill: white;
}

.mfx-table-column {
    -fx-text-fill: white;
}


.toggleBtn {
    -fx-background-color: linear-gradient(to top, #FF8C00, #FFA500);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.toggleBtn:hover {
    -fx-cursor: hand;
}

.scrollpane{
   -fx-background-color:transparent;
}

.hbox {
    -fx-background-color:transparent;
}