@import 'app_colors.css'

#schedChoices {
    -fx-border-color: transparent;
    -fx-border-radius: 30;
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-text-fill: derive(my_blue, 25%);
    -fx-padding: 3 3 3 6;
    -fx-background-insets: 4 0 0 -3;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
}

.mfx-combo-box {
	-fx-min-height: 35;
}

#schedChoices .floating-text {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#schedChoices .caret .mfx-font-icon {
    -mfx-color: my_blue;
    -fx-text-fill: white;
}

#schedChoices .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(255, 255, 255, 0.1);
}

#schedChoices .virtual-flow {
    -track-color: derive(my_blue, 90%);
    -thumb-color: derive(my_blue, 50%);
    -thumb-hover-color: derive(my_blue, 25%);
}

#schedChoices .virtual-flow .mfx-combo-box-cell:hover {
    -fx-background-color: derive(my_blue, 70%);
    -fx-text-fill: white;
}

.chart {
    -fx-background-color: #05263b;
    -fx-text-fill: white;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.chart .chart-legend {
    -fx-background-color: transparent; /* Background color */
    -fx-padding: 0; /* Padding */
}

.chart .chart-legend-item {
    -fx-font-size: 12px; /* Font size */
    -fx-text-fill: white; /* Text color */
}


.rounded-text-field {
    -fx-max-width: 200px;
    -fx-background-radius: 20;
    -fx-border-radius: 50;
    -fx-background-color: white;
    -fx-border-color: my_blue;
    -fx-border-width: 10px;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
    -fx-focus-color: my_blue;
    -fx-faint-focus-color: transparent;
}


